/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.week {
  display: flex;
  height: 90vh;
  margin:20px auto;
  max-width:1400px;
}

.time-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px; /* Fixed width for the time column */
  background-color: lightgrey; /* Just for visual reference */
}

.time-column span {
  height: 0;
  position: relative;
  bottom:10px;
  text-align: center; /* Center align text if needed */
}

.day {
  flex: 1; /* Distribute the remaining space equally among .day elements */
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc; /* Optional: visual separator between days */
  background-color: #FFF; /* Optional: background color for days */
  position: relative;
}

.day:nth-child(even) {
  background-color: #f4f4f4; /* Background color for even days */
}

.time-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-lines span {
  height: 1px;
  background-color: black; /* Color of the horizontal lines */
  display: block;
}

.day p {
  margin: 0;
  z-index: 1; /* Ensure the text is above the lines */
}
