:root {
  --activity-min-height: 0px;
  --full-width: 100%;

  --pega-left-timeline-border: 6px;

  --pega-space-sm: 5px;
  --pega-space-md: 10px;
  --pega-space-lg: 20px;
  --pega-space-xl: 30px;
  --pega-space-xxl: 40px;
  --pega-space-xxxl: 70px;

  --pega-colour-medium-grey: #dcdcdc;
  --pega-colour-light-grey: hsl(0, 0%, 88%);
  --pega-colour-lighter-grey: #F4F4F4;
  --pega-colour-blue: #1144eb;
  --pega-colour-white: #FFF;
  --pega-colour-white-transparent: rgba(255, 255, 255, 0);;
  
  --pega-colour-category-1: rgb(75, 40, 102);
  --pega-colour-category-1-transparent: rgba(75, 40, 102, 0.3);
  --pega-colour-category-2: rgb(62, 76, 158);
  --pega-colour-category-2-transparent: rgba(62, 76, 158, 0.3);
  --pega-colour-category-3: rgb(43, 158, 179);
  --pega-colour-category-3-transparent: rgba(43, 158, 179, 0.3);
  --pega-colour-category-4: rgb(68, 175, 105);
  --pega-colour-category-4-transparent: rgba(68, 175, 105, 0.3);
  --pega-colour-category-5: rgb(248, 51, 60);
  --pega-colour-category-5-transparent: rgba(248, 51, 60, 0.3);
  --pega-colour-category-6: rgb(252, 171, 16);
  --pega-colour-category-6-transparent: rgba(252, 171, 16, 0.3);
  --pega-colour-category-7: rgb(188, 181, 138);
  --pega-colour-category-7-transparent: rgba(188, 181, 138, 0.3);
}

/* Start of tag styles */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  font-size:16px;
  cursor: pointer;
  border:none;
  padding: 13px 25px;
  margin:0 0 var(--pega-space-md) 0;
  background-color: var(--pega-colour-light-grey);
}

button.day-btn {
  border-radius: var(--pega-space-md) 0 0 var(--pega-space-md);
}

button.week-btn {
  border-radius:  0 var(--pega-space-md) var(--pega-space-md) 0;
}

button.selected {
  color:var(--pega-colour-white);
  background-color: var(--pega-colour-blue);
}

select {
  font-size:16px;
  font-weight: 500;
  padding: var(--pega-space-sm) var(--pega-space-md);
  height:44px;
  background-color: var(--pega-colour-lighter-grey);
  border-radius: var(--pega-space-md);
  border: 1px solid var(--pega-colour-medium-grey);
}

label {
  font-weight: 500;
  margin: 0 var(--pega-space-md) 0 0;
  padding: var(--pega-space-sm) var(--pega-space-sm) var(--pega-space-sm) 0
}

input {
  position: relative;
  top:3px;
  width:var(--pega-space-lg);
  height:var(--pega-space-lg);
  margin:0 var(--pega-space-md) 0 0;
  padding:10px;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pega-space-lg) var(--pega-space-lg) 0 var(--pega-space-lg);
}

footer {
  font-size: 14px;
  max-width: 1250px;
  margin: 0 auto;
  padding: var(--pega-space-xl);
}

/* End of tag styles */

/* Start of universal styles */

.bold {
  font-weight: 600;
}

.vr {
  height:42px;
  border-right:1px solid var(--pega-colour-medium-grey);
  margin:0 var(--pega-space-xl);
}

/* End of universal styles */



/* Start of spacing system */

/* In a fully fledged project I would have classes for everything or import a system
   For example margin left small would be .ml-sm or padding top medium .pt-md
   But as this is a pretty small project I'm just going to create them as I need them */

.mr-lg {
  margin-right: var(--pega-space-lg)
}

/* End of spacing system */




.week {
  display: flex;
  height: 90vh;
  margin:var(--pega-space-xxxl) auto;
  max-width:1400px;
  width:calc(100% - 2* var(--pega-space-md))
}

.filters {
  margin:0 auto var(--pega-space-lg) auto;
  padding:var(--pega-space-lg);
  max-width:1240px;
}

.time-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size:14px;
  width: 80px; /* Fixed width for the time column */
}

.time-column span {
  height: 0;
  position: relative;
  bottom:10px;
  text-align: center; 
}

.time-column span::before {
  content: "";
  position: absolute;
  top: var(--pega-space-md);
  right: 0;
  display: inline-block;
  width: 10px;
  border-top: 1px solid var(--pega-colour-light-grey);
}

.time-column span:nth-child(even)::before {
  top:9px;
}

.day {
  flex: 1; 
  display: flex;
  flex-direction: column; 
  align-items: stretch; 
  background-color: #FFF; 
  position: relative;
}

.day:nth-child(even) {
  background-color: var(--pega-colour-lighter-grey); /* Background color for even days */
}

.day .day-header {
  position: relative;
  top:-70px;
  width: 100%;
  text-align: center; 
  padding: 10px 0;
  box-sizing: border-box;
}

.day .day-header span {
  display: inline-block;
  width:100%;
  font-weight: 600;
}

.day .day-header span.day-of-week {
  font-size: 12px;
}

.day .day-header span.day-of-month {
  font-size: 22px;
}

.time-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-lines span {
  height: 1px;
  background-color: var(--pega-colour-light-grey); /* Color of the horizontal lines */
  display: block;
}

.day p {
  margin: 0;
  z-index: 1; /* Ensure the text is above the lines */
}


/* Start of activities styles */

.activities {
  position: absolute;
  height:100%;
  width:100%;
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-light-grey);
}

.activities .activity {
  position: absolute;
  top:14.28%;
  padding:var(--pega-space-sm) var(--pega-space-md) 0 var(--pega-space-md);
  border-radius: 10px;
}

.activities .activity:hover {
  cursor: pointer;
}

/* Align the activities to the left or to the right */
.activities .activity.right {
  left:50%
}

.category-1 {
  background-color: #c2dbd2;
}

.activity::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--pega-colour-medium-grey);
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -11px;
  filter: brightness(0.8);
}

.activity {
  width:calc(50% - 2* var(--pega-space-md) - 2* var(--pega-left-timeline-border));
  position: relative;
  left:-7px;
  min-height: var(--activity-min-height);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-medium-grey);
}

.activity.full {
  width:calc(75% - 2* var(--pega-space-md) - var(--pega-left-timeline-border));
}


.activity h2 {
  font-size: 16px;
  font-weight: 400;
  margin:0 0 var(--pega-space-sm) 0;
}

.activity p {
  font-size: 12px;
  font-weight: 400;
}

.activity-container {
  height: -webkit-fill-available;
  overflow: hidden;
}

.activity.category-1::before, .activity.category-1 button {
  background-color: var(--pega-colour-category-1);
}

.activity.category-1 {
  border-right:1px solid var(--pega-colour-category-1);
  border-bottom:1px solid var(--pega-colour-category-1);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-1);
  background-color: var(--pega-colour-category-1-transparent);
}

.activity.category-2::before, .activity.category-2 button {
  background-color: var(--pega-colour-category-2);
}

.activity.category-2 {
  width:calc(var(--full-width) - 2* var(--pega-space-md) - var(--pega-left-timeline-border));
  border-right:1px solid var(--pega-colour-category-2);
  border-bottom:1px solid var(--pega-colour-category-2);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-2);
  background-color: var(--pega-colour-category-2-transparent);
}

.activity-wrapper.category-1, .activity-wrapper.category-2, .activity-wrapper.category-3, .activity-wrapper.category-4, .activity-wrapper.category-5, .activity-wrapper.category-6, .activity-wrapper.category-7 {
  background-color: var(--pega-colour-white-transparent);
}

.activity-wrapper.category-2.half-width .activity.category-2 {
  position: absolute;
  top:50%;
  width:calc(50% - 2* var(--pega-space-md) - 2* var(--pega-left-timeline-border));
  left:50%;
}

.activity-wrapper.category-2.half-width2 .activity.category-2 {
  left:calc(0% - 7px);
  width:calc(50% - 2* var(--pega-space-md) - 2* var(--pega-left-timeline-border));
}

.activity.category-3::before, .activity.category-3 button {
  background-color: var(--pega-colour-category-3);
}

.activity.category-3 {
  border-right:1px solid var(--pega-colour-category-3);
  border-bottom:1px solid var(--pega-colour-category-3);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-3);
  background-color: var(--pega-colour-category-3-transparent);
}

.activity.category-4::before, .activity.category-4 button {
  background-color: var(--pega-colour-category-4);
}

.activity.category-4 {
  border-right:1px solid var(--pega-colour-category-4);
  border-bottom:1px solid var(--pega-colour-category-4);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-4);
  background-color: var(--pega-colour-category-4-transparent);
}

.activity.category-5::before, .activity.category-5 button {
  background-color: var(--pega-colour-category-5);
}

.activity.category-5 {
  border-right:1px solid var(--pega-colour-category-5);
  border-bottom:1px solid var(--pega-colour-category-5);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-5);
  background-color: var(--pega-colour-category-5-transparent);
}

.activity.category-6::before, .activity.category-6 button {
  background-color: var(--pega-colour-category-6);
}

.activity.category-6 {
  border-right:1px solid var(--pega-colour-category-6);
  border-bottom:1px solid var(--pega-colour-category-6);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-6);
  background-color: var(--pega-colour-category-6-transparent);
}

.activity.category-7::before, .activity.category-7 button {
  background-color: var(--pega-colour-category-7);
}

.activity.category-7 {
  border-right:1px solid var(--pega-colour-category-7);
  border-bottom:1px solid var(--pega-colour-category-7);
  border-left:var(--pega-left-timeline-border) solid var(--pega-colour-category-7);
  background-color: var(--pega-colour-category-7-transparent);
}

/* Start of list activities styles */

main.list .week {
  height:initial;
}

main.list .activities {
  position: initial;
  height:initial;
  width: initial;
  border:none;
  margin:0 var(--pega-space-md);
}

main.list .day {
  border-top:1px solid var(--pega-colour-light-grey);
}

main.list .activity::before {
  display:none;
}

main.list .activity-wrapper.list.left, main.list .activity-wrapper.list.right  {
  width:calc(50% - 5px);
}

.activity-wrapper.category-2.list.half-width {
  position: absolute;
}

.activity-wrapper.category-2.list.half-width .activity.category-2 {
  position: relative;
  width:calc(100% - 2* var(--pega-space-lg) - 10px - var(--pega-left-timeline-border));
  left:100%;
  top:0px!important;
}

.activity-wrapper.category-2.list.half-width2 .activity.category-2 {
  position: relative;
  width:calc(100% - 2* var(--pega-space-lg) - var(--pega-left-timeline-border));
  
}

main.list .activity-wrapper.list.right  {
  position: absolute;
  width:calc(50% - 15px);
  left:calc(50% + 5px);
}

main.list .activity {
  width:calc(100% - 2* var(--pega-space-lg) - var(--pega-left-timeline-border));
  position:initial;
  height:auto!important;
  padding: var(--pega-space-lg);
  margin: 0 0 var(--pega-space-lg) 0;
}

main.list .activity h2 {
  font-size:22px;
  font-weight: 400;
  margin:0 0 var(--pega-space-md) 0;
}

main.list .activity h3 {
  font-size:18px;
  font-weight: 300;
  margin:0 0 var(--pega-space-sm) 0;
}

main.list .activity p {
  font-size:14px;
}

main.list .activity.right {
  position:initial;
  margin: 0 0 var(--pega-space-lg) 0;
}

/* End of list activities styles */

/* End of activities styles */


@media (min-width: 1201px) {
}

@media (min-width: 1025px) and (max-width: 1200px) {

}

@media (min-width: 769px) and (max-width: 1024px) {
  button {
    font-size: 12px;
  }

  button, label, select {
    font-size: 14px;
  }

  header {
    padding: var(--pega-space-md) var(--pega-space-md) 0 var(--pega-space-md);
  }

  .time-column {
    width: 60px;
  }

  .filters {
    padding:var(--pega-space-md);
  }

  main.list .day .day-header {
    position: initial;
  }

  main.list .activity {
    width: calc(100% - 2* var(--pega-space-sm) - var(--pega-left-timeline-border));
    padding: var(--pega-space-sm)
  }

  main.list .activity h2 {
    font-size:16px;
  }

  main.list .activity h3 {
    font-size:16px;
  }

  main.list .activity p {
    font-size:12px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  main.list .week, main.list .day {
    display:block
  }

  button {
    font-size: 12px;
  }

  button, label, select {
    font-size: 14px;
  }

  input {
    top:2px;
    width: 15px;
    height:15px;
    margin:0 var(--pega-space-sm) 0 0;
    padding:10px;
  }

  header {
    padding: var(--pega-space-sm) var(--pega-space-sm) 0 var(--pega-space-sm);
  }

  .vr {
    margin: var(--pega-space-lg)
  }

  .time-column {
    width:50px;
    font-size: 12px;
  }

  .filters {
    padding:var(--pega-space-md);
  }

  main.list .day .day-header {
    position: initial;
  }

  main.list .activity {
    padding: var(--pega-space-md);
    width:calc(100% - 2* var(--pega-space-md) - var(--pega-left-timeline-border));
  }

  main.list .activity h2 {
    font-size:16px;
  }

  main.list .activity h3 {
    font-size:14px;
  }

  main.list .activity p {
    font-size:11px;
  }

  .day .day-header span.day-of-month {
    font-size: 18px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 480px) {

  main.list .week, main.list .day {
    display:block
  }

  button {
    font-size: 12px;
  }

  button, label, select {
    font-size: 14px;
  }

  input {
    top:2px;
    width: 15px;
    height:15px;
    margin:0 var(--pega-space-sm) 0 0;
    padding:10px;
  }

  .vr {
    margin: var(--pega-space-lg)
  }

  .time-column {
    width:40px;
    font-size: 10px;
  }

  main.list .activity {
    padding: var(--pega-space-md);
    width:calc(100% - 2* var(--pega-space-md) - var(--pega-left-timeline-border));
  }

  main.list .activity h2 {
    font-size:16px;
  }

  main.list .activity h3 {
    font-size:14px;
  }

  main.list .activity p {
    font-size:11px;
  }

  .day .day-header span.day-of-month {
    font-size: 18px;
  }

  footer {
    font-size: 12px;
  }

}
